@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoThin.ttf") format("truetype");
  src: url("../fonts/RobotoThin.eot") format("embedded-opentype"), url("../fonts/RobotoThin.woff2") format("woff2"), url("../fonts/RobotoThin.woff") format("woff"), url("../fonts/RobotoThin.svg#RobotoThin") format("svg");
}
@font-face {
  font-family: "ShrikhandRegular";
  src: url("../fonts/ShrikhandRegular.ttf") format("truetype");
  src: url("../fonts/ShrikhandRegular.eot") format("embedded-opentype"), url("../fonts/ShrikhandRegular.woff2") format("woff2"), url("../fonts/ShrikhandRegular.woff") format("woff"), url("../fonts/ShrikhandRegular.svg#ShrikhandRegular") format("svg");
}
@font-face {
  font-family: "RobotoBlack";
  src: url("../fonts/RobotoBlack.ttf") format("truetype");
  src: url("../fonts/RobotoBlack.eot") format("embedded-opentype"), url("../fonts/RobotoBlack.woff2") format("woff2"), url("../fonts/RobotoBlack.woff") format("woff"), url("../fonts/RobotoBlack.svg#RobotoBlack") format("svg");
}
/* Colors */
/* Font Family*/
/* Responsive */
.btn {
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  color: #fff;
  font-size: 1.1em;
  border: 1px solid linear-gradient(0deg, #9356DC, #FF79DA);
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0 0 5px 2px #c9c9c9;
}

body {
  font-family: "Roboto";
  margin: 0;
}

.title h1 {
  font-family: "ShrikhandRegular";
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
  text-align: center;
  position: relative;
}
.header__arrow {
  position: absolute;
  left: 0;
  padding: 10px;
  font-size: 1.2em;
  color: #353535;
}

.location {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  .location {
    display: block;
  }
}
.location__position {
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 2em;
  font-family: "RobotoBlack";
  justify-content: center;
  background: #eaeaea;
  box-shadow: 0 1px 1px 1px #d5d5d5 inset;
  color: #353535;
}
@media screen and (max-width: 768px) {
  .location__position {
    width: 100%;
    font-size: 1em;
  }
}
.location__search {
  width: 50%;
  background: #f6f6f6;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .location__search {
    width: 100%;
  }
}
.location__search h1 {
  font-family: "RobotoBlack";
}
@media screen and (max-width: 768px) {
  .location__search h1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.location__search p {
  color: #4d4d4d;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .location__search p {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.map-marker {
  padding: 15px;
}

.operation h2 {
  text-align: center;
  font-family: "RobotoBlack";
}
@media screen and (max-width: 768px) {
  .operation h2 {
    text-align: initial;
    padding-left: 15px;
  }
}

.tab {
  /*display: flex;
  justify-content: space-evenly;*/
  display: inline;
}
.tab__card {
  background: #f6f6f6;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px #f1f1f1;
  text-align: center;
  position: relative;
}
.tab ul {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  .tab ul {
    display: block;
    padding-left: 25px;
  }
}
.tab ul li {
  margin: 30px;
  padding: 30px;
  font-size: 1.2em;
}
@media screen and (max-width: 768px) {
  .tab ul li {
    margin-left: 0;
    margin-right: 15px;
  }
}
.tab__number {
  background: #9356DC;
  border-radius: 100%;
  padding: 8px 14px;
  color: #fff;
  position: absolute;
  left: -15px;
  bottom: 22px;
}
.tab__icon {
  color: #7e7e7e;
  margin: 0 20px 0 15px;
}
.tab__icon--active {
  color: #9356DC;
}

.restaurant {
  background: #f6f6f6;
  padding: 30px 20px;
}
.restaurant h2 {
  font-family: "RobotoBlack";
}
.restaurant a {
  color: #000;
}

.rest-pres {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.rest-tab {
  background: #fff;
  border: 0px solid transparent;
  border-radius: 20px;
  position: relative;
  width: 40%;
  margin: 20px;
}
@media screen and (max-width: 768px) {
  .rest-tab {
    width: 100%;
    margin: 10px 0;
  }
}
.rest-tab__img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 991px) {
  .rest-tab__img {
    height: 175px;
  }
}
.rest-tab__new {
  background: #99E2D0;
  color: #217460;
  font-family: "RobotoBlack";
  font-size: 1.2em;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 10px 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
}
.rest-tab__div {
  padding-left: 20px;
}
.rest-tab__name {
  margin-bottom: 5px;
  font-family: "RobotoBlack";
}
.rest-tab__city {
  font-size: 1.2em;
  margin: 0;
}

.footer {
  background: #353535;
  color: #fff;
  line-height: 25px;
  padding: 10px;
  position: relative;
}
.footer a {
  color: #fff;
}
.footer__logo {
  filter: invert(100%) brightness(125%) contrast(100%);
  padding-left: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .footer__logo {
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    width: 100px;
    position: absolute;
    left: -15px;
  }
}
.footer__list {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .footer__list {
    display: block;
    padding-top: 25px;
  }
}
.footer__txt {
  padding-left: 10px;
}

/*# sourceMappingURL=style.css.map */
