@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoThin.ttf") format("truetype");
  src: url("../fonts/RobotoThin.eot") format("embedded-opentype"), url("../fonts/RobotoThin.woff2") format("woff2"), url("../fonts/RobotoThin.woff") format("woff"), url("../fonts/RobotoThin.svg#RobotoThin") format("svg");
}
@font-face {
  font-family: "ShrikhandRegular";
  src: url("../fonts/ShrikhandRegular.ttf") format("truetype");
  src: url("../fonts/ShrikhandRegular.eot") format("embedded-opentype"), url("../fonts/ShrikhandRegular.woff2") format("woff2"), url("../fonts/ShrikhandRegular.woff") format("woff"), url("../fonts/ShrikhandRegular.svg#ShrikhandRegular") format("svg");
}
@font-face {
  font-family: "RobotoBlack";
  src: url("../fonts/RobotoBlack.ttf") format("truetype");
  src: url("../fonts/RobotoBlack.eot") format("embedded-opentype"), url("../fonts/RobotoBlack.woff2") format("woff2"), url("../fonts/RobotoBlack.woff") format("woff"), url("../fonts/RobotoBlack.svg#RobotoBlack") format("svg");
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes contain-spin {
  0% {
    background: #f6f6f6;
  }
  95% {
    background: transparent;
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes heart-full {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heart-empty {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes menu-title {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes dish {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes check-translate {
  0% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes translate-price {
  0% {
    transform: translatex(0px);
  }
  100% {
    transform: translateX(-60px);
  }
}
.btn {
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  font-family: "Roboto";
  font-weight: bold;
  color: #fff;
  font-size: 1.1em;
  padding: 20px 30px 20px 30px;
  border-radius: 30px;
  box-shadow: 0 0 5px 2px #c9c9c9;
  transition: all 0.3s ease-out;
}
.btn:hover {
  box-shadow: 0 0 5px 2px #969696;
  background: linear-gradient(0deg, #a16be0, #ff93e1);
}

body {
  font-family: "Roboto";
  margin: 0;
  z-index: 1;
}

.title h1 {
  font-family: "ShrikhandRegular";
}

h2,
h3 {
  font-family: "RobotoBlack";
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

.fa-heart {
  font-size: 1.5em;
}

.fa-heart-square {
  font-size: 2.8em;
}

button,
li,
rest-tab__heart {
  cursor: pointer;
}

.header {
  text-align: center;
  position: relative;
  padding: 10px;
}
.header__arrow {
  position: absolute;
  left: 0;
  padding: 10px;
  font-size: 1.2em;
  color: #353535;
}

.footer {
  background: #353535;
  color: #fff;
  line-height: 25px;
  padding: 10px;
  position: relative;
}
.footer a {
  color: #fff;
}
.footer__logo {
  filter: invert(100%) brightness(125%) contrast(100%);
  padding-left: 35px;
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .footer__logo {
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    width: 100px;
    position: absolute;
    left: -15px;
  }
}
.footer__list {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .footer__list {
    display: block;
    padding-top: 25px;
  }
}
.footer__txt {
  padding-left: 10px;
}

.title {
  position: relative;
}
.title h1 {
  padding-left: 20px;
}
.title__img {
  object-fit: fill;
  width: 100%;
  height: 600px;
}
@media screen and (max-width: 768px) {
  .title__img {
    height: 238px;
  }
}
.title__txt {
  background: #f6f6f6;
  width: 100%;
  border-radius: 20px 20px 0 0;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .title__txt {
    justify-content: space-between;
  }
}
.title__heart {
  padding-right: 20px;
  margin-left: 20px;
  position: relative;
}
.title__heart:hover .heart-empty {
  animation: heart-empty 1s ease-out forwards;
}
.title__heart:hover .heart-full {
  animation: heart-full 1s ease-out forwards;
}
@media screen and (max-width: 768px) {
  .title__heart {
    margin-left: 0;
  }
}

.menu {
  background: #f6f6f6;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .menu {
    align-items: flex-start;
    padding: 10px;
  }
}
.menu__title {
  position: relative;
  transform: scale(1);
  animation: menu-title 1s ease-out backwards;
}
.menu__title--2 {
  animation-delay: 0.8s;
}
.menu__title--2, .menu__title--3 {
  margin-top: 20px;
}
.menu__title--3 {
  animation-delay: 1.2s;
}
.menu__title--2, .menu__title--3 {
  margin-top: 20px;
}
.menu__title h2 {
  margin-top: 0;
  padding-bottom: 10px;
  font-family: "Roboto";
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .menu__title h2 {
    padding-bottom: 0;
  }
}
.menu hr {
  background: #99E2D0;
  height: 3px;
  width: 60px;
  border: none;
  position: absolute;
  left: 0;
  top: 25px;
}

.dish {
  background: #fff;
  width: 350px;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px 2px #c9c9c9;
  transform: scale(1);
  animation: dish 2s ease-out backwards;
}
@media screen and (max-width: 991px) {
  .dish {
    width: 50%;
  }
}
.dish--0 {
  animation-delay: 0s;
}
.dish--1 {
  animation-delay: 0.24s;
}
.dish--2 {
  animation-delay: 0.48s;
}
.dish--3 {
  animation-delay: 0.72s;
}
.dish--4 {
  animation-delay: 0.96s;
}
.dish--5 {
  animation-delay: 1.2s;
}
.dish--6 {
  animation-delay: 1.44s;
}
.dish--7 {
  animation-delay: 1.68s;
}
.dish--8 {
  animation-delay: 1.92s;
}
.dish--9 {
  animation-delay: 2.16s;
}
.dish--10 {
  animation-delay: 2.4s;
}
@media screen and (max-width: 768px) {
  .dish {
    width: 100%;
    margin: 10px 0 20px 0;
  }
}
.dish:hover .check {
  animation: check-translate 0.5s ease-out both;
}
.dish:hover .check__check {
  transform: rotate(-2turn);
  transition: transform 0.5s ease-out;
}
.dish:hover .dish__price {
  animation: translate-price 0.5s ease-out both;
}
.dish:hover .dish__txt {
  width: 225px;
}
.dish:hover .dish__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dish:hover .dish__object {
  width: 225px;
}
.dish__txt {
  padding-left: 15px;
}
.dish__title {
  margin: 10px 0;
  font-size: 1.1em;
  width: 260px;
}
.dish__object {
  margin: 10px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1em;
  width: 290px;
}
.dish__price {
  font-family: "RobotoBlack";
  position: absolute;
  top: 25px;
  right: 15px;
}

.order {
  margin: 50px 0;
  align-self: center;
}
.order__btn {
  border: none;
  padding: 15px 60px 15px 60px;
}

.check {
  position: relative;
  background: #99E2D0;
  color: #fff;
  width: 60px;
  border-radius: 0 20px 20px 0;
  text-align: center;
  transform-origin: 100% 50%;
  transform: translateX(60px);
}
.check__check {
  margin-top: 35%;
  font-size: 1.2em;
  transform: rotate(0turn);
}

.heart {
  border: none;
  background: transparent;
}

.heart-empty {
  opacity: 1;
}

.rest-tab__heart .heart-full,
.title__heart .heart-full {
  opacity: 0;
  background: linear-gradient(180deg, #9356DC, #FF79DA);
  position: absolute;
  top: 0;
  right: 0;
}

.rest-tab__heart .heart-full {
  background: -webkit-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title__heart .heart-full {
  right: 43%;
  top: 28px;
  background: -webkit-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contain-spin {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f6f6f6;
  opacity: 1;
  animation: contain-spin 1s 2.4s ease-in-out forwards;
  z-index: 9999;
  transform: translateX(0%);
}

.spin {
  width: 50px;
  height: 50px;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 45%;
  border: 3px solid #9356DC;
  border-top: 3px solid #FF79DA;
  border-radius: 100%;
  animation: spin 0.8s cubic-bezier(0.3, 0.65, 0.5, 0.81) forwards 3;
}

.location {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  .location {
    display: block;
  }
}
.location__position {
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 2em;
  font-family: "RobotoBlack";
  justify-content: center;
  background: #eaeaea;
  box-shadow: 0 1px 1px 1px #d5d5d5 inset;
  color: #353535;
}
@media screen and (max-width: 768px) {
  .location__position {
    width: 100%;
    font-size: 1em;
  }
}
.location__search {
  width: 50%;
  background: #f6f6f6;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .location__search {
    width: 100%;
  }
}
.location__search h1 {
  font-family: "RobotoBlack";
}
@media screen and (max-width: 768px) {
  .location__search h1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.location__search p {
  color: #4d4d4d;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .location__search p {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.map-marker {
  padding: 15px;
}

.operation h2 {
  text-align: center;
  font-family: "RobotoBlack";
}
@media screen and (max-width: 768px) {
  .operation h2 {
    text-align: initial;
    padding-left: 15px;
  }
}

.tab {
  display: inline;
}
.tab__card {
  background: #f6f6f6;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px #f1f1f1;
  font-family: "RobotoBlack";
  text-align: center;
  position: relative;
}
.tab__card:hover i {
  color: #9356DC;
}
.tab ul {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  .tab ul {
    display: block;
    padding-left: 25px;
  }
}
.tab ul li {
  margin: 30px;
  padding: 30px;
  font-size: 1.2em;
}
@media screen and (max-width: 768px) {
  .tab ul li {
    margin-left: 0;
    margin-right: 15px;
  }
}
.tab__number {
  background: #9356DC;
  border-radius: 100%;
  padding: 8px 14px;
  color: #fff;
  position: absolute;
  left: -15px;
  bottom: 22px;
}
.tab__icon {
  color: #7e7e7e;
  margin: 0 20px 0 15px;
  /*&--active {
      color: $primary;
  }*/
}

.restaurant {
  background: #f6f6f6;
  padding: 30px 20px;
}
.restaurant h2 {
  text-align: center;
  font-size: 2em;
}
@media screen and (max-width: 768px) {
  .restaurant h2 {
    text-align: left;
  }
}

.rest-pres {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.rest-tab {
  background: #fff;
  border-radius: 20px;
  position: relative;
  width: 40%;
  margin: 20px;
}
@media screen and (max-width: 768px) {
  .rest-tab {
    width: 100%;
    margin: 10px 0;
  }
}
.rest-tab__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  position: relative;
}
@media screen and (max-width: 991px) {
  .rest-tab__img {
    height: 175px;
  }
}
.rest-tab__new {
  background: #99E2D0;
  color: #217460;
  font-family: "RobotoBlack";
  font-size: 1.2em;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 10px 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.rest-tab__div {
  padding-left: 20px;
}
.rest-tab__name {
  margin-bottom: 5px;
  font-size: 1.3em;
}
.rest-tab__city {
  font-size: 1.2em;
  margin: 0 0 20px 0;
}
.rest-tab__heart {
  position: absolute;
  right: 20px;
  bottom: 30px;
}
.rest-tab__heart:hover .heart-empty {
  animation: heart-empty 1s ease-out forwards;
}
.rest-tab__heart:hover .heart-full {
  animation: heart-full 1s ease-out forwards;
}

/*# sourceMappingURL=style.css.map */
