.heart {
    border: none;
    background: transparent;
}

.heart-empty {
    opacity: 1;
}

.rest-tab__heart .heart-full, 
.title__heart .heart-full {
    opacity: 0;
    background: $heart-gradient;
    position: absolute;
    top: -8px;
    right: 0;
}

.rest-tab__heart .heart-full {
    color: #fff;
}

.title__heart .heart-full{
    right:30%;
    top: 19px;
    color: $background-page;
}