.header {
    text-align: center;
    position: relative;
    padding: 10px;
    &__arrow {
        position: absolute;
        left: 0;
        padding: 10px;
        font-size: 1.2em;
        color: $color-arrow;
    }
}