.title {
  position: relative;

  h1 {
    padding-left: 20px;
  }

  &__img {
    object-fit: fill;
    width: 100%;
    height: 600px;

    @include mobil-only {
        height: 238px;
    }
  }

  &__txt {
    background: $background-page;
    width: 100%;
    border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;

    @include mobil-only {
      justify-content: space-between;
    }
  }

  &__heart {
    padding-right: 20px;
    margin-left: 20px;
    position: relative;

    &:hover .heart-empty {
      animation: heart-empty $anim-dur-heart ease-out forwards;
    }

    &:hover .heart-full {
      animation: heart-full $anim-dur-heart ease-out forwards;
    }

    @include mobil-only {
      margin-left: 0;
    }
  }
}

.menu {
  background: $background-page;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobil-only {
    align-items: flex-start;
    padding: 10px;
  }

  &__title {
    position: relative;
    }

    & h2 {
      margin-top: 0;
      padding-bottom: 10px;
      font-family: $font-txt;
      text-transform: uppercase;

      @include mobil-only {
          padding-bottom: 0;
      }
    }

  hr {
    background: $tertiary;
    height: 3px;
    width: 60px;
    border: none;
    position: absolute;
    left: 0;
    top: 25px;
  }
}

.dish {
  background: #fff;
  width: 350px;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  opacity: 1;
  
  @include box-shadow();

  @include tablet-only {
    width: 50%;
  }

  transform: translateY(0px);
  animation: dish $anim-dur-dish ease-out backwards;
  @for $i from 0 through $nbr-dish {
    &--#{$i} {
      animation-delay: $anim-delay-dish * $i;
    }
  }

  @include mobil-only {
    width: 100%;
    margin: 10px 0 20px 0;
  }

  &:hover .check {
    transform: translateX(0);
    transition: transform $anim-dur ease-out both;
  }
  
  &:hover .check__check {
    transform: rotate(-2turn);
    transition: transform $anim-dur ease-out;
  }

  &:hover .dish__price {
      transform: translateX(-60px);
      transition: transform $anim-dur ease-out both;
  }

  &:hover .dish__txt {
      width: 225px;
  }

  &:hover .dish__title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &:hover .dish__object {
      width: 225px;
  }

  &__txt {
    padding-left: 15px;
  }

  &__title {
    margin: 10px 0;
    font-size: 1.1em;
    width: 260px;
  }

  &__object {
    margin: 10px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1em;
    width: 290px;
  }

  &__price {
    font-family: $font-black;
    position: absolute;
    top: 25px;
    right: 15px;
    transform: translateX(0);
    transition: transform $anim-dur;
  }
}

.order {
  margin: 50px 0;
  align-self: center;

  &__btn {
    border: none;
    padding: 15px 60px 15px 60px;
  }
}

.check {
  position: relative;
  background: $tertiary;
  color: #fff;
  width: 60px;
  border-radius: 0 20px 20px 0;
  text-align: center;
  transform-origin: 100% 50%;
  transform: translateX(60px);
  transition: transform $anim-dur;

  &__check {
    margin-top: 45%;
    font-size: 1.2em;
    transform: rotate(0turn);
    transition: transform $anim-dur;
  }
}
