<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/ada4a84f05.js" crossorigin="anonymous"></script>
    <title>Ohmyfood</title>
</head>
<body>
    <header class="header">
        <a href="../index.html"><i class="fas fa-arrow-left header__arrow"></i></a>
        <img src="../images/logo/ohmyfood@2x.svg" class="header__logo" tab="Ohmyfood" />
    </header>
    <section class="title">
        <img src="../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg" tab="Le délice des sens" />
        <h1>Le délice des sens</h1>
        <i class="far fa-heart heart-empty"></i>
        <i class="fas fa-heart heart-full"></i>
    </section>
    <section class="menu">
        <h2 class="menu__title">Entrées</h2>
        <div class="menu__dish dish">
            <h3 class="dish__title">Tartare de thon</h3>
            <p class="dish__object">Assaisonné au yuzu</p>
            <p class="dish__price">25€</p>
        </div>
        <div><i class="fas fa-check-circle"></i></div>
        <div class="menu__dish dish">
            <h3 class="dish__title">Bouchée de homard croustillant</h3>
            <p class="dish__object">Et sa farandole de petits légumes</p>
            <p class="dish__price">35€</p>
        </div>
        <div><i class="fas fa-check-circle"></i></div>
        <div class="menu__dish dish">
            <h3 class="dish__title">Velouté de cèpes</h3>
            <p class="dish__object">Aux truffes</p>
            <p class="dish__price">20€</p>
        </div>
        <div><i class="fas fa-check-circle"></i></div>
        <h2 class="menu__title">Plats</h2>
        <div class="menu__dish dish">
            <h3 class="dish__title">Poulet rôti aux herbes de Provence</h3>
            <p class="dish__object">Et sa crème de truffe</p>
            <p class="dish__price">40€</p>
        </div>
        <div><i class="fas fa-check-circle"></i></div>
        <div class="menu__dish dish">
            <h3 class="dish__title">Langouste rôtie</h3>
            <p class="dish__object">Et ses légumes de saison</p>
            <p class="dish__price">35€</p>
        </div>
        <div><i class="fas fa-check-circle"></i></div>
        <div class="menu__dish dish">
            <h3 class="dish__title">Côte de boeuf Angus</h3>
            <p class="dish__object">Et sa purée de panais</p>
            <p class="dish__price">44€</p>
        </div>
        <div><i class="fas fa-check-circle"></i></div>
        <h2 class="menu__title">Desserts</h2>
        <div class="manu__dish dish">
            <h3 class="dish__title">Farandole de desserts</h3>
            <p class="dish__object">Du chef</p>
            <p class="dish__price">18€</p>
        </div>
        <div><i class="fas fa-check-circle"></i></div>
        <div class="menu__dish dish">
            <h3 class="dish__title">Crème brulée</h3>
            <p class="dish__object">Revisitée</p>
            <p class="dish__price">22€</p>
        </div>
        <div><i class="fas fa-check-circle"></i></div>
        <div class="menu__dish dish">
            <h3 class="dish__title">Tiramisu</h3>
            <p class="dish__object">À la noisettes</p>
            <p class="dish__price">23€</p>
        </div>
        <div><i class="fas fa-check-circle"></i></div>
        <label class="order"><input type="button" class="btn" value="Commander"></label>
    </section>

    <footer class="footer">
        <img src="../images/logo/ohmyfood@2x.svg" class="footer__logo" tab="ohmyfood" />
        <ul class="footer__list">
            <li><i class="fas fa-utensils"></i>Proposer un restaurant</li>
            <li><i class="fas fa-hands-helping"></i>Devenir partenaire</li>
            <li>Mentions légales</li>
            <li><a href="mailto:ohmyfood@gmail.com">Contact</a></li>
        </ul>
    </footer>
</body>
</html>