<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Ohmyfood</title>
</head>

<body>
    <header class="header">
        <a href="../index.html"><i class="fas fa-arrow-left header__arrow"></i></a>
        <img src="../images/logo/ohmyfood@2x.svg" class="header__logo" tab="Ohmyfood" />
    </header>
    <section class="title">
        <img src="../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg" class="title__img" tab="À la française" />
        <div class="title__txt">
            <h1>À la française</h1>
            <button class="title__heart" type="button" action="heart-full">
                <i class="fal fa-heart heart-empty"></i>
                <i class="fas fa-heart heart-full"></i>
            </button>
        </div>
    </section>
    <section class="menu">
        <div class="menu__title">
            <h2>Entrées</h2>
            <hr>
        </div>
        <div class="menu__dish dish">
            <div class="dish__txt">
                <h3 class="dish__title">Tartare de poulpe acidulé</h3>
                <p class="dish__object">Aux zestes d'orange</p>
                <p class="dish__price">25€</p>
            </div>
            <div class="check">
                <i class="fas fa-check-circle check__check"></i>
            </div>
        </div>
        <div class="menu__dish dish">
            <div class="dish__txt">
                <h3 class="dish__title">Velouté de légumes d'antan</h3>
                <p class="dish__object">Carotte, panais, topinambour</p>
                <p class="dish__price">35€</p>
            </div>
            <div class="check">
                <i class="fas fa-check-circle check__check"></i>
            </div>
        </div>
        <div class="menu__dish dish">
            <div class="dish__txt">
                <h3 class="dish__title">Soupe à l'oignon</h3>
                <p class="dish__object">Revisitée</p>
                <p class="dish__price">20€</p>
            </div>
            <div class="check">
                <i class="fas fa-check-circle check__check"></i>
            </div>
        </div>
        <div class="menu__title">
            <h2>Plats</h2>
            <hr>
        </div>
        <div class="menu__dish dish">
            <div class="dish__txt">
                <h3 class="dish__title">Coquilles Saint-Jacques</h3>
                <p class="dish__object">Accompagnées d'une purée de panais</p>
                <p class="dish__price">40€</p>
            </div>
            <div class="check">
                <i class="fas fa-check-circle check__check"></i>
            </div>
        </div>
        <div class="menu__dish dish">
            <div class="dish__txt">
                <h3 class="dish__title">Magret de canard</h3>
                <p class="dish__object">Et parmentier de pommes de terre</p>
                <p class="dish__price">35€</p>
            </div>
            <div class="check">
                <i class="fas fa-check-circle check__check"></i>
            </div>
        </div>
        <div class="menu__dish dish">
            <div class="dish__txt">
                <h3 class="dish__title">Pigeonneau d’Ille-et-Vilaine</h3>
                <p class="dish__object">Sur son lit de gnocchis aux légumes</p>
                <p class="dish__price">44€</p>
            </div>
            <div class="check">
                <i class="fas fa-check-circle check__check"></i>
            </div>
        </div>
        <div class="menu__title">
            <h2>Desserts</h2>
            <hr>
        </div>
        <div class="manu__dish dish">
            <div class="dish__txt">
                <h3 class="dish__title">Pétales de violettes glacés</h3>
                <p class="dish__object">Et purée de noisettes</p>
                <p class="dish__price">18€</p>
            </div>
            <div class="check">
                <i class="fas fa-check-circle check__check"></i>
            </div>
        </div>
        <div class="menu__dish dish">
            <div class="dish__txt">
                <h3 class="dish__title">Fondant au chocolat</h3>
                <p class="dish__object">Revisité</p>
                <p class="dish__price">22€</p>
            </div>
            <div class="check">
                <i class="fas fa-check-circle check__check"></i>
            </div>
        </div>
        <div class="menu__dish dish">
            <div class="dish__txt">
                <h3 class="dish__title">Millefeuille croustillant</h3>
                <p class="dish__object">Myrtilles et pâte d’amande</p>
                <p class="dish__price">23€</p>
            </div>
            <div class="check">
                <i class="fas fa-check-circle check__check"></i>
            </div>
        </div>
        <label class="order"><input type="button" class="btn" value="Commander"></label>
    </section>
    <footer class="footer">
        <img src="../images/logo/ohmyfood@2x.svg" class="footer__logo" tab="ohmyfood" />
        <ul class="footer__list">
            <li><i class="fas fa-utensils"></i><span class="footer__txt">Proposer un restaurant</span></li>
            <li><i class="fas fa-hands-helping"></i><span class="footer__txt">Devenir partenaire</span></li>
            <li>Mentions légales</li>
            <li><a href="mailto:ohmyfood@gmail.com">Contact</a></li>
        </ul>
    </footer>
</body>

</html>