<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Ohmyfood</title>
</head>

<body>
    <header class="header">
        <a href="../index.html"><i class="fas fa-arrow-left header__arrow"></i></a>
        <img src="../images/logo/ohmyfood@2x.svg" class="header__logo" tab="Ohmyfood" />
    </header>
    <section class="title">
        <img src="../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg" class="title__img"
            tab="Le délice des sens" />
        <div class="title__txt">
            <h1>Le délice des sens</h1>
            <button class="title__heart heart" type="button" action="heart-full">
                <i class="fal fa-heart heart-empty"></i>
                <i class="fas fa-heart-square heart-full"></i>
            </button>
        </div>
    </section>
    <section class="menu">
        <div class="menu__title menu__title--1">
            <h2>Entrées</h2>
            <hr>
        </div>
        <div class="dish dish--1">
            <div class="dish__txt">
                <h3 class="dish__title">Tartare de thon</h3>
                <p class="dish__object">Assaisonné au yuzu</p>
                <p class="dish__price">25€</p>
            </div>
            <div class="check">
                <i class="fas fa-check-circle check__check"></i>
            </div>
        </div>
        <div class="dish dish--2">
            <div class="dish__txt">
                <h3 class="dish__title">Bouchée de homard croustillant</h3>
                <p class="dish__object">Et sa farandole de petits légumes</p>
                <p class="dish__price">35€</p>
            </div>
            <div class="check">
                <i class="fas fa-check-circle check__check"></i>
            </div>
        </div>
        <div class="dish dish--3">
            <div class="dish__txt">
                <h3 class="dish__title">Velouté de cèpes</h3>
                <p class="dish__object">Aux truffes</p>
                <p class="dish__price">20€</p>
            </div>
            <div class="check">
                <i class="fas fa-check-circle check__check"></i>
            </div>
        </div>
        <div class="menu__title menu__title--2">
            <h2>Plats</h2>
            <hr>
        </div>
        <div class="dish dish--4">
            <div class="dish__txt">
                <h3 class="dish__title">Poulet rôti aux herbes de Provence</h3>
                <p class="dish__object">Et sa crème de truffe</p>
                <p class="dish__price">40€</p>
            </div>
            <div class="check">
                <i class="fas fa-check-circle check__check"></i>
            </div>
        </div>
        <div class="dish dish--5">
            <div class="dish__txt">
                <h3 class="dish__title">Langouste rôtie</h3>
                <p class="dish__object">Et ses légumes de saison</p>
                <p class="dish__price">35€</p>
            </div>
            <div class="check">
                <i class="fas fa-check-circle check__check"></i>
            </div>
        </div>
        <div class="dish dish--6">
            <div class="dish__txt">
                <h3 class="dish__title">Côte de boeuf Angus</h3>
                <p class="dish__object">Et sa purée de panais</p>
                <p class="dish__price">44€</p>
            </div>
            <div class="check">
                <i class="fas fa-check-circle check__check"></i>
            </div>
        </div>
        <div class="menu__title menu__title--3">
            <h2>Desserts</h2>
            <hr>
        </div>
        <div class="dish dish--7">
            <div class="dish__txt">
                <h3 class="dish__title">Farandole de desserts</h3>
                <p class="dish__object">Du chef</p>
                <p class="dish__price">18€</p>
            </div>
            <div class="check">
                <i class="fas fa-check-circle check__check"></i>
            </div>
        </div>
        <div class="dish dish--8">
            <div class="dish__txt">
                <h3 class="dish__title">Crème brulée</h3>
                <p class="dish__object">Revisitée</p>
                <p class="dish__price">22€</p>
            </div>
            <div class="check">
                <i class="fas fa-check-circle check__check"></i>
            </div>
        </div>
        <div class="dish dish--9">
            <div class="dish__txt">
                <h3 class="dish__title">Tiramisu</h3>
                <p class="dish__object">À la noisettes</p>
                <p class="dish__price">23€</p>
            </div>
            <div class="check">
                <i class="fas fa-check-circle check__check"></i>
            </div>
        </div>
        <label class="order"><input type="button" class="btn" value="Commander"></label>
    </section>
    <footer class="footer">
        <img src="../images/logo/ohmyfood@2x.svg" class="footer__logo" tab="ohmyfood" />
        <ul class="footer__list">
            <li><i class="fas fa-utensils"></i><span class="footer__txt">Proposer un restaurant</span></li>
            <li><i class="fas fa-hands-helping"></i><span class="footer__txt">Devenir partenaire</span></li>
            <li>Mentions légales</li>
            <li><a href="mailto:ohmyfood@gmail.com">Contact</a></li>
        </ul>
    </footer>
</body>

</html>