<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Ohmyfood</title>
</head>
<body>
    <header class="header">
        <a href="../index.html"><i class="fas fa-arrow-left header__arrow"></i></a>
        <img src="../images/logo/ohmyfood@2x.svg" class="header__logo" tab="Ohmyfood" />
    </header>
    <section class="title">
        <img src="../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg" class="title__img" tab="La palette du goût" />
        <div class="title__txt">
            <h1>La palette du goût</h1>
            <button class="title__heart" type="button" action="heart-full">
                <i class="fal fa-heart heart-empty"></i>
            </button>
            <button class="title__heart" type="button" action="heart-empty">
            <i class="fas fa-heart heart-full"></i>
            </button>
        </div>
    </section>
    <section class="menu">
        <div class="menu__title">
            <h2>Entrées</h2>
            <hr>
        </div>
        <div class="menu__dish dish">
            <h3 class="dish__title">Fricassée d'escargot</h3>
            <p class="dish__object">Au piment d'espelette</p>
            <p class="dish__price">25€</p>
        </div>
        <div><i class="fas fa-check-circle"></i></div>
        <div class="menu__dish dish">
            <h3 class="dish__title">Foie gras de canard mi-cuit</h3>
            <p class="dish__object">Et ses copeaux de truffe noire</p>
            <p class="dish__price">35€</p>
        </div>
        <div><i class="fas fa-check-circle"></i></div>
        <div class="menu__dish dish">
            <h3 class="dish__title">Oeuf au plat</h3>
            <p class="dish__object">Assaisonné à la truffe sur lit de caviar</p>
            <p class="dish__price">20€</p>
        </div>
        <div><i class="fas fa-check-circle"></i></div>
        <div class="menu__title">
            <h2>Plats</h2>
            <hr>
        </div>
        <div class="menu__dish dish">
            <h3 class="dish__title">Filet de boeuf aux herbes</h3>
            <p class="dish__object">Accompagné de sa ribambelle de légumes</p>
            <p class="dish__price">40€</p>
        </div>
        <div><i class="fas fa-check-circle"></i></div>
        <div class="menu__dish dish">
            <h3 class="dish__title">Parmentier de queue de boeuf</h3>
            <p class="dish__object">À la truffe noire sur sa purée de panais</p>
            <p class="dish__price">35€</p>
        </div>
        <div><i class="fas fa-check-circle"></i></div>
        <div class="menu__dish dish">
            <h3 class="dish__title">Filet de turbot</h3>
            <p class="dish__object">Aux agrumes</p>
            <p class="dish__price">44€</p>
        </div>
        <div><i class="fas fa-check-circle"></i></div>
        <div class="menu__title">
            <h2>Desserts</h2>
            <hr>
        </div>
        <div class="manu__dish dish">
            <h3 class="dish__title">Paris-Brest</h3>
            <p class="dish__object">Revisité</p>
            <p class="dish__price">18€</p>
        </div>
        <div><i class="fas fa-check-circle"></i></div>
        <div class="menu__dish dish">
            <h3 class="dish__title">Macaron au chocolat d'exception</h3>
            <p class="dish__object">Et glace à la vanille de Madagascar</p>
            <p class="dish__price">22€</p>
        </div>
        <div><i class="fas fa-check-circle"></i></div>
        <div class="menu__dish dish">
            <h3 class="dish__title">Mousse au chocolat</h3>
            <p class="dish__object">Au piment d'Espelette et à la truffe noire</p>
            <p class="dish__price">23€</p>
        </div>
        <div><i class="fas fa-check-circle"></i></div>
        <label class="order"><input type="button" class="btn order__btn" value="Commander"></label>
    </section>
    <footer class="footer">
        <img src="../images/logo/ohmyfood@2x.svg" class="footer__logo" tab="ohmyfood" />
        <ul class="footer__list">
            <li><i class="fas fa-utensils"></i><span class="footer__txt">Proposer un restaurant</span></li>
            <li><i class="fas fa-hands-helping"></i><span class="footer__txt">Devenir partenaire</span></li>
            <li>Mentions légales</li>
            <li><a href="mailto:ohmyfood@gmail.com">Contact</a></li>
        </ul>
    </footer>
</body>
</html>