.btn {
    background: $background-btn;
    font-family: $font-txt;
    font-weight: bold;
    color: #fff;
    font-size: 1.1em;
    border: none;
    padding: 20px 80px;
    border-radius: 30px;
    @include box-shadow();
    transition: all 0.3s ease-out;
    cursor: pointer;

    &:hover {
        @include btn-hover();
    }

    @include mobil-only {
        padding: 20px 60px;
    }
}