.btn {
    background: $background-btn;
    color: #fff;
    font-size: 1.1em;
    border: 1px solid $background-btn;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 0 5px 2px #c9c9c9;
}