.operation {
    & h2 {
        text-align: center;
        font-family: $font-black;

        @include mobil-only {
            text-align: initial;
            padding-left: 15px;
        }
    }
}

.tab {
    display:inline;

    &__card {
        background: $background-page;
        border-radius: 10px;
        @include box-shadow($background-page-darken, $shadow-size);
        font-family: $font-black;
        text-align: center;
        position: relative;

        &:hover i {
            color: $primary;
        }  
    }

    ul {
        display: flex;
        justify-content: space-evenly;

        @include mobil-only {
            display: block;
            padding-left: 25px;
        }
    }
    ul li {
        margin:30px;
        padding: 30px;
        font-size: 1.2em;

        @include mobil-only {
            margin-left: 0;
            margin-right: 15px;
        }
    }

    &__number {
        background: $primary;
        border-radius: 100%;
        padding: 8px 14px;
        color: #fff;
        position:absolute;
        left: -15px;
        bottom: 22px;
    }

    &__icon {
        color: $color-icon;
        margin: 0 20px 0 15px;
        /*&--active {
            color: $primary;
        }*/
    }
}