@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

<<<<<<< HEAD
    95% {
        transform: rotate(360deg);
    }

=======
>>>>>>> dev
    100% {
        transform: rotate(360deg);
    }
}

@keyframes contain-spin {
    0% {
        background: $background-page;
        display: block;
    }

    100% {
<<<<<<< HEAD
        background: transparent;        
    }

   /*100% {
        display: none;
    }*/
=======
        transform: translateX(100%);
    }
>>>>>>> dev
}

@keyframes heart-full {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes heart-empty {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes dish {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}