@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes contain-spin {
    0% {
        background: $background-page;
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes heart-full {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes heart-empty {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes dish {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}