$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$primary-light: lighten($primary, 5%);
$secondary-light: lighten($secondary, 5%);
$color-arrow: #353535;
$color-icon: #7e7e7e;
$color-shadow: #c9c9c9;
$tertiary-darken: darken($tertiary, 45%);
$background-page: #f6f6f6;
$background-page-darken: darken($background-page,2%);
$background-btn: linear-gradient(0deg, $primary, $secondary);
$background-btn-lighten: linear-gradient(0deg, $primary-light, $secondary-light);
$background-location:#eaeaea;
$primary-gradient: linear-gradient(0deg, $primary 50%, #fff);
$heart-gradient: linear-gradient(180deg, $primary, $secondary);

$shadow-size: 2px;
$heart-size: 1.5em;

$font-title: "ShrikhandRegular";
$font-txt: "Roboto";
$font-black: "RobotoBlack";

$nbr-menu-title: 3;
$nbr-dish: 10;
$anim-dur: 0.5s;
$anim-dur-title: 3s;
$anim-dur-dish: 1s;
$anim-delay-title: $anim-dur-title/$nbr-menu-title*1.2;
$anim-delay-dish: $anim-dur-dish/$nbr-dish*1.2;


